:root {
    --color-brond: #5c472b;
    --color-gold: #c1882d;
    --color-bronz: wheat;
}

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    border-radius: 100px;
    font-weight: 600;
    box-shadow: 0 0 0 2px var(--color-gold);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: rgba(238, 130, 238, 0);
}
.animated-button svg {
    position: absolute;
    width: 24px;
    fill: var(--color-gold);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgba(245, 245, 220, 0);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    color: var(--color-bronz);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    /* color: var(--color-gold); */
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
    color: var(--color-gold);
}

.animated-button:hover svg {
    fill: var(--color-bronz);
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px var(--color-gold);
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}


@media (max-width: 991px) {
    .navbar img {
        width: 14%;
    }
}

/* Small */
@media (max-width: 766px) {
    .about img {
        width: 80rem;
    }

    .med {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }

    .text-dd {
        text-align: center;
    }
}

@media (min-width: 766px) {
    .med {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}

body {
    font-family: 'Lato', sans-serif;
    background-color: black;

}

ul {
    list-style: none;
}

.main_img {
    border: var(--color-bronz) 0.5px solid;
    border-radius: 5%;
    box-shadow: inset 0 0 137px 0 var(--color-brond);
    padding: 1px;
}

.main_container {
    box-shadow: 0 1px 1px -1px var(--color-bronz);
    padding-bottom: 33px;
}

.main_card {
    background-color: black;
    box-shadow: 0px 0px 5px 0px var(--color-bronz);
    padding: 30px;
    transition: .5s;
    color: wheat;
    border-radius: 5%;
}

.main_card:hover {
    box-shadow: 0px 0px 20px 0px var(--color-bronz);
    transform: translateY(-10px);
    transition: .5s;
}

.main_span {
    color: var(--color-gold);
}

.main_but {
    color: var(--color-bronz);
    background-color: black;
    box-shadow: 0px 0px 5px 0px var(--color-bronz);
}

.main_but:hover {
    background-color: black;
    transition: .5s;
    box-shadow: 0px 0px 20px 0px var(--color-bronz);
}

.text-main {
    box-shadow: 0px 14px 21px -19px var(--color-bronz);
    padding-bottom: 25px;
}


/* start nav */
.scrolled {
    transition: .5s;
    box-shadow: inset -3px -12px 33px -29px var(--color-bronz);
    background-color: #000000eb;
    transition: .5s;
}

.navbar {
    transition: .5s;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar ul {
    border-right: 1px solid var(--color-bronz);
    padding-right: 17px;
}

.navbar .nav-item {
    padding: 5px;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--color-brond);
}

.navbar .collapse ul a {
    position: relative;
    font-size: 1.1rem;
    font-weight: 500;
    color: wheat;
    padding: 6px 20px;
    transition: .5s;
}

.navbar .collapse ul a:hover {
    color: var(--color-brond);
}

.navbar ul li a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid var(--color-brond);
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
}

.navbar ul li a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;
}

.navbar .navbar-toggler {
    font-size: 25px;
    color: var(--color-gold);
    border-color: white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--color-bronz);
}

.navbar .navbar-toggler[aria-expanded="false"] {
    color: var(--color-bronz);
    border-color: var(--color-bronz);
}

.navbar .search {
    color: var(--color-bronz);
}

/* end nav */
/* start home */
#carouselExampleSlidesOnly,
#carouselExampleSlidesOnly img{
    height: 100vh;
}
#carouselExampleSlidesOnly h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-bronz);
}
#carouselExampleSlidesOnly{
    color: rgba(245, 222, 179, 0.47);
}
#carouselExampleSlidesOnly .text-le h1 span{
    color: var(--color-gold);
}
.bg {
    background-color: rgba(0, 0, 0, 0.819);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 44;
}
/* end home */

/* start menu */
.menu {
    background-color: rgb(0, 0, 0);
}

/* end menu */
/* start about */
.about .row {
    color: var(--color-bronz);
}

.about img {
    width: 14rem;
}

.med {
    text-align: start;
    padding-top: 20px;
}

.about .row h5,
.about .row p {
    color: var(--color-bronz);
}

/* end about */
/* start latest */
.latest .row h5,
.latest .row p {
    color: var(--color-bronz);
    padding: 5px;
}

.latest .row ul {
    list-style: none;
}

.latest .row ul svg {
    font-size: 1.2rem;
}

/* end latest */
/* start comment */
.comment img {
    border-radius: 50%;
}

/* end comment */
/* start email */
.email .row img {
    width: 100%;
    height: 100%;
}

.email .row input {
    background-color: transparent;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    padding-left: 15px;
    color: var(--color-bronz);
    border: none;
    height: 50px;
    box-shadow: 0 0 5px 0px var(--color-bronz);
}

.email .row input:focus {
    box-shadow: 0 0 15px 0px var(--color-bronz);
}

.email .row label {
    color: var(--color-bronz);
}

.email .row form button {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* end email */
/* start footer */
footer {
    padding: 5rem 0px;
}

footer .row span  {
    text-decoration: none;
    font-size: 25px;
    color: var(--color-gold);
}

footer ul li {
    line-height: 2;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer .con_icon svg {
    padding: 10px 20px;
    font-size: 30px;

}

footer .con_icon .facebook {
    color: #1877f2;
}

footer .con_icon .instagram {
    color: #fd1d1d;
}

footer .con_icon .twitter {
    color: #1da1f2;
}

footer .con_icon .youtube {
    color: #ff0000;
}

footer .linkedin {
    color: #0a66c2;
}

footer .paper {
    color: #0088cc;
}

/* end footer */
/* start my email */
.elMofaker .con {
    box-shadow: inset 0 14px 21px -19px wheat;
    padding-top: 25px;
}

/* end my email */